
table{
    width: 100%;
}
mat-form-field {
    font-size: 14px;
    width: 100%;
}
.filter{
    float: right;
   
}

.mat-toolbar{
font-size:xx-large;
font-weight: lighter;
}
.addFlex{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width:90rem;
    margin: 0 auto;
    
}