<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened>
    <div class="group">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>list</mat-icon>
    </button>
    

    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>person</mat-icon>
    </button>
    
  </div></mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <app-list-view></app-list-view>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
